.header{
    background-color: white;
    color:black;
    text-align: center;
    font-size: 250%;
}
.body
{
background-color:rgb(20, 20, 20);
color: white;
margin: -20px;
display : grid;
grid-template-columns: 50% 50%;


}
.content
{
    display:grid;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
    margin: 30px;

}